body {
  background-color: rgb(228 221 250);
}
#main {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: rgb(177, 155, 248);
}

.type {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.type2 {
  width: 100%;
  padding: 10px;
  background-color: rgb(177, 155, 248);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.type2:hover {
  background-color: rgb(177, 155, 248);
}
