body {
  background-color: rgb(228 221 250);
  margin: 0;
  padding: 0;
}
#board_write {
  width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  font-size: 24px;
  color: rgb(177, 155, 248);
  margin-bottom: 20px;
}

#write_area {
  margin-bottom: 10px;
}

textarea {
  width: 97%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
}

#in_pw input {
  width: 97%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type="submit"] {
  background-color: rgb(177, 155, 248);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}
